{% load static %}
{% block destaques %}
<section class="container-fluid" id="destaques">
	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			{% for carro in carros %}
			<div class="carousel-item">
				<img src="{{ carro.foto.thumb.url }}" class="d-block w-100" alt="{{ carro.modelo }}">
				<div class="carousel-caption d-none d-md-block">
					<h5>{{ carro.modelo }}</h5>
					<p>O {{ carro.modelo }} da {{ carro.marca }} é um dos destaques do site!</p>
				</div>
			</div>
			{% endfor %}
		<!-- Botões de controle -->
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</section>
<script>
	document.querySelector('.carousel-item').classList.add('active');
</script>
{% endblock %}
