{% block inicio %}
<section class="container-fluid" id="inicio" style="height:100vh">
	<div class="row">
		<div class="col-6">
			<h1 id="titulo">Car catalog</h1>
			<p id="descricao">
				Os carros mais potentes e tecnologicos em um só lugar, confira nosso catálogo e entre em contato.
			</p>
		</div>

		<div id="botoes">
			<a href="#destaques" class="btn btn-primary">Acesse agora</a>
			<a href="#contato" class="btn btn-primary">Entre em contato</a>
		</div>
	</div>
</section>
{% endblock %}
